@bg: #eeeeee;
@black: #000000;
@bg2: #ffffff;
@btn: #fb565a;
@btn2: #00ca74;
@btn3: #efa84a;
@btn4: #b4b4b4;
@text: #283136;
@size: 16px;
@sizeplus: @size + 2px;
@sizeminus: @size - 2px;
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
}

body {
  color: @text;
  background: @bg2;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: @size;
  width: 100%;
  line-height: 24px;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.layout {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/nerds-index.jpg");
  width: 100%;
  height: 2476px;
  background-repeat: no-repeat;
  background-position: center top;
  opacity: .5;
}

.layout2 {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/nerds-catalog.jpg");
  width: 100%;
  height: 3213px;
  background-repeat: no-repeat;
  opacity: .5;
  background-position: center top;

}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

.cart {
  padding-top: 35px;
  justify-content: flex-end;
  &-bg{
    background: @btn4;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 35px 80px 71px 80px;
  }

}
.form{
  max-width: 260px;
  &-group{
  }
}
.fake, .check-fake{
  background-image: url("../img/icons/radio-off.svg");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  display: inline-flex;

}
.radio{
  position: relative;
  &-block{
    margin-bottom: 7px;
  }
  &-text{
    position: absolute;
    left: 36px;
    top: 1px;
    line-height: 20px;
  }
  &-section{
    margin-top: 60px;
  }
}
.check{
  width: 200px;
  display: block;

  &-fake{
    background-image: url("../img/icons/checkbox-off.svg");
  }
  //&-text{
  //  position: absolute;
  //  left: 36px;
  //  top: -8px;
  //  line-height: 20px;
  //}
  &-section{
    margin-top: 39px;
  }
  &-block{
    margin-bottom: 9px;

  }
}
.input{
  &-text{
    border: none;
    line-height: 22px;
    font-size: initial;
    color: @text;
    background: @btn4;
    padding: 8px;
    width: 74px;
    text-align: center;
  }
  &:checked + .fake,&:checked + .check-fake{
    background-image: url("../img/icons/radio-on.svg");
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    display: inline-flex;
  }
  &:checked + .check-fake{
    background-image: url("../img/icons/checkbox-on.svg");
  }
}
.label{
  &-text{
    margin-right: 11px;
  }
}
.counter{
  margin-top: 15px;
}
.range{
  background: @bg;
  margin-top: 54px;
  height: 74px;
  padding: 18px;
  .circle{
    height: 23px;
    width: 20px;
    border: none;
    border-radius: 100%;
    background-position: center;
    background-color: transparent;
    background-image: url("../img/icons/filter-button.svg");
    background-repeat: no-repeat;
    &-left, &-right{
      position: absolute;
      top: -8px;
      left: 0;
    }
    &-right{
      right: 30%;
      left: auto;
    }
  }
  .line{
    margin-top: 18px;
    background: #d7dcde;
    height: 3px;
    width: 100%;
    position: relative;
    &-show{
      width: 70%;
      height: 3px;
      background: @btn2;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
.header {
  padding-top: 45px;
  background: @bg;
  .cart{

    a {
      position: relative;

      &::before {
        content: '';
        background-image: url("../img/icons/cart-icon.svg");
        display: block;
        position: absolute;

        left: -38px;
        top: 5px;
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
      }
    }
  }
  &.space {
    padding-bottom: 88px;
    // margin-bottom: 0;
  }

  h1.h1 {
    margin-top: 85px;
  }
}

.relative {
  position: relative;
}

.img {
  position: absolute;
  top: 10px;
  left: -33px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.d {
  &-flex {
    display: flex;
  }

  &-none {
    display: none;
  }
}

.col {

  &-4 {
    @w: 33.3334%;
    flex: 0 0 @w;
    max-width: @w;
  }

  &-6 {
    @w: 50%;
    flex: 0 0 @w;
    max-width: @w;
  }

  &-3 {
    @w: 25%;
    flex: 0 0 @w;
    max-width: @w;
  }

  &-5 {
    @w: 41.6667%;
    flex: 0 0 @w;
    max-width: @w;
  }

  &-8 {
    @w: 66.6667%;
    flex: 0 0 @w;
    max-width: @w;
  }

  &-7 {
    @w: 58.3333%;
    flex: 0 0 @w;
    max-width: @w;
  }
  &-1 {
    @w: 8.3333%;
    flex: 0 0 @w;
    max-width: @w;
  }

  &-3, &-6, &-4, &-5, &-8, &-7,&-1 {
    padding: 0 20px;
  }
}

.main {
  padding-top: 72px;
}

.link {
  text-decoration: none;
  color: @black;

  &:hover {
    color: @btn;
  }

  &:active {
    color: @btn4;
  }
}

a.active {
  border-bottom: 1px solid @btn;
}

.menu {
  padding-top: 20px;

  ul {
    list-style: none;
  }

  li {
    margin: 0 23px;

  }

  a {
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 10px;
  }

}


.text {

  line-height: 24px;
  color: @text;

  &-uppercase {
    text-transform: uppercase;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.title {
  font-size: @sizeplus;

  &-minus {
    font-size: @sizeminus;
    margin: 5px 9px;
    &:first-child{
      margin-left: 0;
    }
  }


}


.card {
  &-title {
    font-size: 24px;
    font-weight: bold;
    color: @black;

  }

  &-section {
    padding-bottom: 93px;
    border-bottom: 1px solid @bg;
  }

  &-text {
    line-height: 24px;
    color: @text;
  }

  &-width {

    max-width: 244px;
    margin-bottom: 44px;
    margin-top: -4px;
  }
}

.google, .table, .cart-bg {
  .text {
    line-height: 18px;
  }
}

.carousel {
  width: 100%;

  .h1 {
    line-height: 55px;
    margin: 74px 0 0 0;
  }

  &-caption {
    max-width: 54%;
    padding: 0 18px;

    .text {
      margin-top: 26px;
    }

    .btn {
      display: table;
      margin-top: 39px;
      padding: 10px 55px;
    }
  }

  &-item {
    min-height: 430px;
  }

  &-inner {
    min-height: 100%;
  }

  &-indicators {
    position: absolute;
    top: 71%;
    right: 49%;
    z-index: 9;

    button {
      border-radius: 100%;
      width: 15px;
      height: 15px;
      //&.active{
      //  border: 2px solid @btn4;
      //  width: 10px;
      //  height: 10px;
      //
      //     }
    }
  }
}

.w {

  &-100 {
    width: 100%;
    display: block;
  }
}

.roboto {
  &-medium {
    font-weight: 500;
  }

  &-bold {
    font-weight: bold;
  }
}

.block {


  &-center {
    margin: 0 auto;
  }
}

.partners {
  margin-top: 60px;
  padding-bottom: 31px;
  border-bottom: 1px solid @bg;

  img {
    opacity: .4;

    &:hover {
      opacity: 1;
    }
  }

  .col-3 {
    border-right: 1px solid @bg;
  }
}

.google {
  margin-top: 85px;
  background-image: url("../img/maps.jpg");
  height: 416px;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  //opacity: .5;
  background-size: cover;
  background-position: center top;

  .container {
    min-height: 100%;
  }

  &-maps {
    position: absolute;
    right: 22%;
    top: 21%;
  }


  &-address {
    background: @bg2;
    width: 315px;
    position: absolute;
    top: 53px;
    padding: 34px 52px 42px;

    .address {
      margin-top: 29px;
      margin-bottom: 14px;
    }

    .btn {
      margin-top: 28px;
      display: block;
    }
  }
}

.logo, .partners {
  img {
    &:active {
      opacity: .2;
    }
  }
}

.flex {
  &-column-reverse {
    flex-direction: column-reverse;
  }

}

.studio {
  margin-top: 18px;
  padding-bottom: 43px;
  border-bottom: 1px solid @bg;

  img {
    margin-left: 103px;
    margin-top: 22px;
  }

  &-text {
    padding-top: 12px;
    padding-right: 17px;
  }

  &-body, &-head {
    padding-left: 93px;

    .h2 {
      margin: 22px 6px 0;
    }

    .small {
      font-size: 80%;
    }

    .text {
      line-height: 19px;
      margin: 11px 9px;

    }
  }
}

@darken: 15%;

.btn {
  color: @bg2;
  padding: 16px 40px;
  font-weight: bold;
  opacity: .5;
  text-decoration: none;

  &:hover {
    opacity: 1;
  }

  &:active {
    color: rgba(255, 255, 255, .5);
  }

  &-red {
    background: @btn;

    &:active {
      background: darken(@btn, @darken);
    }
  }

  &-green {
    background: @btn2;

    &:active {
      background: darken(@btn2, @darken);
    }
  }

  &-yellow {
    background: @btn3;

    &:active {
      background: darken(@btn3, @darken);
    }
  }

  &-gray {
    background: @btn4;
    color: black;

    &:active {
      background: darken(@btn4, @darken);
    }
  }
}

.h1 {
  color: @black;
  font-size: 56px;
  font-weight: bold;
}

.h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: @black;

  &.margin-bottom {
    margin-bottom: 34px;
  }
}

.space {
  margin-bottom: 34px;
}

.h3 {
  color: @black;
  font-size: 36px;
}
.sorting{
  list-style: none;
  padding: 0;
}
.ul {
  margin-left: -5px;

  li {
    margin: 25px 0;
  }
}

.footer {
  padding-top: 41px;

  ul {
    list-style: none;
    margin: 25px 0;
    padding: 0;
  }

  li {
    margin: 0 7px;
  }

  p.h3 {
    margin-bottom: 5px;
  }
}

.fa {

  &-vk, &-instagram, &-facebook-f {
    &:hover {
      background-color: @btn;
    }

    &:active {
      background-color: darken(@btn, @darken);
      fill: rgba(255, 255, 255, .2);
    }
  }

  &-vk {
    border-radius: 100%;
    background-color: @btn4;
    padding: 37px;
    background-image: url("../img/icons/vk-icon.svg");
    display: block;
    background-repeat: no-repeat;
    background-position: center;

  }

  &-facebook-f {
    background-position: center;
    border-radius: 100%;
    background-color: @btn4;
    padding: 37px;
    background-image: url("../img/icons/fb-icon.svg");
    display: block;
    background-repeat: no-repeat;
    height: 10px;
  }

  &-instagram {
    background-position: center;
    border-radius: 100%;
    background-color: @btn4;
    padding: 37px;
    background-image: url("../img/icons/insta-icon.svg");
    display: block;
    background-repeat: no-repeat;
    height: 10px;
  }

  &-shopping-cart {
  }

  &-window {
    background-image: url("../img/icons/browser.svg");
    display: block;
    background-repeat: no-repeat;
    height: 40px;
  }

  &-top {
    background-image: url("../img/icons/icon-up-dir.svg");
    display: block;
    background-repeat: no-repeat;
    height: 13px;
    width: 10px;
  }

  &-bottom {
    background-image: url("../img/icons/icon-down-dir.svg");
    display: block;
    background-repeat: no-repeat;
    height: 13px;
    width: 10px;
  }
}