@bg: #EEEEEE;
@bg2: #FFFFFF;
@btn: #FB565A;
@btn2: #00CA74;
@btn3: #EFC84A;
.logo{
  &-img{
    background-image: url("../img/icons/nerds-logo.svg");
    display: block;
    height: 65px;
    background-repeat: no-repeat;
  }
}

.fa{
  &-vk{
    background-image: url("../img/icons/vk-icon.svg");
    display: block;
    background-repeat: no-repeat;
    height: 10px;
  }
  &-facebook-f{
    background-image: url("../img/icons/fb-icon.svg");
    display: block;
    background-repeat: no-repeat;
    height: 10px;
  }
  &-instagram{
    background-image: url("../img/icons/insta-icon.svg");
    display: block;
    background-repeat: no-repeat;
    height: 10px;
  }
  &-shopping-cart{
    background-image: url("../img/icons/cart-icon.svg");
    display: block;
    background-repeat: no-repeat;
    height: 10px;
  }
  &-window{
    background-image: url("../img/icons/browser.svg");
    display: block;
    background-repeat: no-repeat;
    height: 20px;
  }
  &-top{
    background-image: url("../img/icons/icon-up-dir.svg");
    display: block;
    background-repeat: no-repeat;
    height: 20px;
  }
  &-bottom{
    background-image: url("../img/icons/icon-down-dir.svg");
    display: block;
    background-repeat: no-repeat;
    height: 20px;
  }
}