@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}
body {
  color: #283136;
  background: #ffffff;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}
div {
  box-sizing: border-box;
}
.container {
  width: 1440px;
  margin: auto;
}
.header {
  background: #eeeeee;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col-4 {
  flex: 0 0 33.3334%;
  max-width: 33.3334%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-3,
.col-6,
.col-4 {
  padding: 0 15px;
}
.link {
  text-decoration: none;
  color: #000000;
}
.link:hover {
  color: #fb565a;
}
.link:active {
  color: #b4b4b4;
}
.menu a {
  font-weight: 700;
  text-transform: uppercase;
}
.menu .active {
  border-bottom: 1px solid #fb565a;
}
.text {
  line-height: 24px;
  color: #283136;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.title {
  font-size: 18px;
}
.title-minus {
  font-size: 14px;
}
.card-title {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}
.card-text {
  line-height: 24px;
  color: #283136;
}
.maps .text,
.table .text,
.cart-bg .text {
  line-height: 18px;
}
.carousel .h1 {
  line-height: 55px;
}
.roboto-medium {
  font-weight: 500;
}
.roboto-bold {
  font-weight: bold;
}
.btn {
  color: #ffffff;
  font-weight: bold;
}
.btn-red {
  background: #fb565a;
}
.btn-green {
  background: #00ca74;
}
.btn-yellow {
  background: #efa84a;
}
.btn-gray {
  background: #b4b4b4;
  color: black;
}
.h1 {
  color: #000000;
  font-size: 56px;
  font-weight: bold;
}
.h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}
.h3 {
  color: #000000;
  font-size: 36px;
}
.fa-vk {
  background-image: url("../img/icons/vk-icon.svg");
  display: block;
  background-repeat: no-repeat;
  height: 10px;
}
.fa-facebook-f {
  background-image: url("../img/icons/fb-icon.svg");
  display: block;
  background-repeat: no-repeat;
  height: 10px;
}
.fa-instagram {
  background-image: url("../img/icons/insta-icon.svg");
  display: block;
  background-repeat: no-repeat;
  height: 10px;
}
.fa-shopping-cart {
  background-image: url("../img/icons/cart-icon.svg");
  display: block;
  background-repeat: no-repeat;
  height: 10px;
}
.fa-window {
  background-image: url("../img/icons/browser.svg");
  display: block;
  background-repeat: no-repeat;
  height: 20px;
}
.fa-top {
  background-image: url("../img/icons/icon-up-dir.svg");
  display: block;
  background-repeat: no-repeat;
  height: 20px;
}
.fa-bottom {
  background-image: url("../img/icons/icon-down-dir.svg");
  display: block;
  background-repeat: no-repeat;
  height: 20px;
}
/*# sourceMappingURL=style.css.map */