@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}
body {
  color: #283136;
  background: #ffffff;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  width: 100%;
  line-height: 24px;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}
.cart {
  margin: 35px 0 -9px;
}
.cart-bg {
  display: none;
  background: #b4b4b4;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 239px;
}
.cart-bg .description {
  padding: 20px 81px 52px 79px;
}
.cart-bg .btn {
  text-align: center;
  margin-top: 28px;
  padding: 13px 40px;
}
.cart:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #4d4d4d;
  box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}
.cart:hover > .cart-bg {
  display: block;
}
.cart:hover > .fa-window {
  opacity: 1;
}
.pagination {
  margin-top: 69px;
  margin-bottom: 72px;
}
.pagination ul {
  display: flex;
  border-radius: 0.25rem;
  padding-left: 0;
  list-style: none;
}
.pagination .page-link {
  color: #000000;
  text-decoration: none;
  pointer-events: none;
  cursor: auto;
  background-color: #eeeeee;
  border-color: #dee2e6;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}
.pagination .page-link:hover {
  background-color: #dfdfdf;
}
.pagination .page-link:active {
  box-shadow: 0 -3px 0 0 #bfbfbf;
  background-color: #d5d5d5;
}
.pagination .page-link.active {
  background: #ffffff;
}
.pagination .page-item {
  margin-right: 5.5px;
}
.pagination .page-item:last-child > .page-link {
  padding: 0.75rem 58px;
}
.form {
  max-width: 260px;
}
.form-textarea {
  margin-top: 30px;
  margin-bottom: 46px;
}
.form-control {
  border: 1px solid #d7dcde;
  padding: 10px;
  margin-top: 10px;
}
.fake,
.check-fake {
  background-image: url("../img/icons/radio-off.svg");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  display: inline-flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.radio {
  position: relative;
  opacity: 0.3;
}
.radio:hover {
  opacity: 1;
}
.radio-block {
  margin-bottom: 7px;
}
.radio-text {
  position: absolute;
  left: 36px;
  top: 1px;
  line-height: 20px;
}
.radio-section {
  margin-top: 60px;
}
.modal {
  position: fixed;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 960px;
  background: #ffffff;
  box-shadow: 0 20px 40px 0 #000000;
  display: none;
}
.modal-header {
  position: relative;
  margin-bottom: 45px;
}
.modal-header .close {
  background-image: url("../img/icons/close-cross.svg");
  width: 21px;
  height: 21px;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
}
.modal-body {
  margin-top: 20px;
}
.modal-body .btn {
  padding: 20px 80px;
}
.modal-title {
  margin: 15px 0 0 0;
}
.modal-content {
  padding: 46px 100px;
}
.check {
  width: 200px;
  display: block;
  opacity: 0.3;
}
.check:hover {
  opacity: 1;
}
.check-fake {
  background-image: url("../img/icons/checkbox-off.svg");
}
.check-section {
  margin: 39px 0;
}
.check-block {
  margin-bottom: 8px;
}
.input-text {
  border: none;
  line-height: 22px;
  font-size: initial;
  color: #283136;
  background: #b4b4b4;
  padding: 8px;
  width: 74px;
  text-align: center;
}
.input:checked + .fake,
.input:checked + .check-fake {
  background-image: url("../img/icons/radio-on.svg");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  display: inline-flex;
  opacity: 0.5;
}
.input:checked + .check-fake {
  background-image: url("../img/icons/checkbox-on.svg");
}
.input:disabled + .check-fake {
  opacity: 0.3;
}
.label-text {
  margin-right: 11px;
}
.counter {
  margin-top: 15px;
}
.range {
  background: #eeeeee;
  margin-top: 54px;
  height: 74px;
  padding: 18px;
}
.range .circle {
  height: 23px;
  width: 20px;
  border: none;
  border-radius: 100%;
  background-position: center;
  background-color: transparent;
  background-image: url("../img/icons/filter-button.svg");
  background-repeat: no-repeat;
}
.range .circle-left,
.range .circle-right {
  position: absolute;
  top: -8px;
  left: 0;
}
.range .circle-right {
  right: 30%;
  left: auto;
}
.range .line {
  margin-top: 18px;
  background: #d7dcde;
  height: 3px;
  width: 100%;
  position: relative;
}
.range .line-show {
  width: 70%;
  height: 3px;
  background: #00ca74;
  position: absolute;
  top: 0;
  left: 0;
}
.basket {
  padding-top: 35px;
  justify-content: flex-end;
}
.basket a {
  position: relative;
}
.basket a::before {
  content: '';
  background-image: url("../img/icons/cart-icon.svg");
  display: block;
  position: absolute;
  left: -38px;
  top: 5px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}
.header {
  padding-top: 45px;
  background: #eeeeee;
}
.header.space {
  padding-bottom: 88px;
}
.header h1.h1 {
  margin-top: 85px;
}
.relative {
  position: relative;
}
.img {
  position: absolute;
  top: 10px;
  left: -33px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
.col-4 {
  flex: 0 0 33.3334%;
  max-width: 33.3334%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-5 {
  flex: 0 0 41.6667%;
  max-width: 41.6667%;
}
.col-8 {
  flex: 0 0 66.6667%;
  max-width: 66.6667%;
}
.col-7 {
  flex: 0 0 58.3333%;
  max-width: 58.3333%;
}
.col-1 {
  flex: 0 0 8.3333%;
  max-width: 8.3333%;
}
.col-3,
.col-6,
.col-4,
.col-5,
.col-8,
.col-7,
.col-1 {
  padding: 0 20px;
}
.main {
  padding-top: 72px;
}
.link {
  text-decoration: none;
  color: #000000;
}
.link:hover {
  color: #fb565a;
}
.link:active {
  color: #b4b4b4;
}
a.active {
  border-bottom: 1px solid #fb565a;
}
.menu {
  padding-top: 20px;
}
.menu ul {
  list-style: none;
}
.menu li {
  margin: 0 23px;
}
.menu a {
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.text {
  line-height: 24px;
  color: #283136;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.title {
  font-size: 18px;
}
.title-minus {
  font-size: 14px;
  margin: 5px 13px;
}
.title-minus:first-child {
  margin-left: 0;
}
.title-minus a {
  color: #000000;
  text-decoration: none;
}
.opacity {
  opacity: 0.4;
}
.card-title {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}
.card-section {
  padding-bottom: 93px;
  border-bottom: 1px solid #eeeeee;
}
.card-text {
  line-height: 24px;
  color: #283136;
}
.card-width {
  max-width: 244px;
  margin-bottom: 44px;
  margin-top: -4px;
}
.google .text,
.table .text,
.cart-bg .text {
  line-height: 18px;
}
.carousel {
  width: 100%;
}
.carousel .h1 {
  line-height: 55px;
  margin: 74px 0 0 0;
}
.carousel-caption {
  max-width: 54%;
  padding: 0 18px;
}
.carousel-caption .text {
  margin-top: 26px;
}
.carousel-caption .btn {
  display: table;
  margin-top: 39px;
  padding: 10px 55px;
}
.carousel-item {
  min-height: 430px;
}
.carousel-inner {
  min-height: 100%;
}
.carousel-indicators {
  position: absolute;
  top: 71%;
  right: 49%;
  z-index: 9;
}
.carousel-indicators button {
  border-radius: 100%;
  width: 15px;
  height: 15px;
}
.w-100 {
  width: 100%;
  display: block;
}
.h-100 {
  min-height: 100%;
}
.roboto-medium {
  font-weight: 500;
}
.roboto-bold {
  font-weight: bold;
}
.block-center {
  margin: 0 auto;
}
.partners {
  margin-top: 60px;
  margin-bottom: 85px;
  padding-bottom: 31px;
  border-bottom: 1px solid #eeeeee;
}
.partners img {
  opacity: 0.4;
}
.partners img:hover {
  opacity: 1;
}
.partners .col-3 {
  border-right: 1px solid #eeeeee;
}
.partners .col-3:last-child {
  border-right: none;
}
.google {
  background-image: url("../img/maps.jpg");
  height: 416px;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center top;
}
.google .container {
  min-height: 100%;
}
.google-maps {
  position: absolute;
  right: 22%;
  top: 21%;
}
.google-address {
  background: #ffffff;
  width: 315px;
  position: absolute;
  top: 53px;
  padding: 34px 52px 42px;
}
.google-address .address {
  margin-top: 29px;
  margin-bottom: 14px;
}
.google-address .btn {
  margin-top: 28px;
  display: block;
}
.logo img:active,
.partners img:active {
  opacity: 0.2;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}
.studio {
  margin-top: 18px;
  padding-bottom: 43px;
  border-bottom: 1px solid #eeeeee;
}
.studio img {
  margin-left: 103px;
  margin-top: 22px;
}
.studio-text {
  padding-top: 12px;
  padding-right: 17px;
}
.studio-body,
.studio-head {
  padding-left: 93px;
}
.studio-body .h2,
.studio-head .h2 {
  margin: 22px 6px 0;
}
.studio-body .small,
.studio-head .small {
  font-size: 80%;
}
.studio-body .text,
.studio-head .text {
  line-height: 19px;
  margin: 11px 9px;
}
.btn {
  color: #ffffff;
  padding: 16px 40px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 2px;
}
.btn-red {
  background: #fb565a;
}
.btn-red:active {
  background: #d7373b;
  color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 -3px 0 0 #c13135;
}
.btn-red:hover {
  background: #e74250;
}
.btn-green {
  background: #00ca74;
}
.btn-green:active {
  background: #00aa62;
  color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 -3px 0 0 #009958;
}
.btn-green:hover {
  background: #00bc6c;
}
.btn-yellow {
  background: #efa84a;
}
.btn-yellow:active {
  background: #e5a722;
  color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 -3px 0 0 #ce961f;
}
.btn-yellow:hover {
  background: #eab534;
}
.btn-gray {
  background: #b4b4b4;
  color: black;
}
.btn-gray:active {
  background: #8e8e8e;
}
.h1 {
  color: #000000;
  font-size: 56px;
  font-weight: bold;
}
.h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}
.h2.margin-bottom {
  margin-bottom: 34px;
}
.space {
  margin-bottom: 34px;
}
.h3 {
  color: #000000;
  font-size: 36px;
}
.sorting,
.arrows {
  padding-top: 6px;
}
.sorting ul,
.arrows ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ul {
  margin-left: -5px;
  list-style: none;
}
.ul li {
  margin: 25px 0;
  position: relative;
}
.ul li::before {
  position: absolute;
  left: -30px;
  top: 11px;
  content: '';
  width: 20px;
  height: 2px;
  background-color: #fb565a;
  display: block;
}
.footer {
  padding-top: 41px;
}
.footer ul {
  list-style: none;
  margin: 25px 0;
  padding: 0;
}
.footer li {
  margin: 0 7px;
}
.footer p.h3 {
  margin-bottom: 5px;
}
.fa-vk:hover,
.fa-instagram:hover,
.fa-facebook-f:hover {
  background-color: #fb565a;
}
.fa-vk:active,
.fa-instagram:active,
.fa-facebook-f:active {
  background-color: #f90b11;
  fill: rgba(255, 255, 255, 0.2);
}
.fa-vk {
  border-radius: 100%;
  background-color: #b4b4b4;
  padding: 37px;
  background-image: url("../img/icons/vk-icon.svg");
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}
.fa-facebook-f {
  background-position: center;
  border-radius: 100%;
  background-color: #b4b4b4;
  padding: 37px;
  background-image: url("../img/icons/fb-icon.svg");
  display: block;
  background-repeat: no-repeat;
  height: 10px;
}
.fa-instagram {
  background-position: center;
  border-radius: 100%;
  background-color: #b4b4b4;
  padding: 37px;
  background-image: url("../img/icons/insta-icon.svg");
  display: block;
  background-repeat: no-repeat;
  height: 10px;
}
.fa-window {
  background-image: url("../img/icons/browser.svg");
  display: block;
  background-repeat: no-repeat;
  height: 40px;
  opacity: 0.5;
}
.fa-top {
  background-image: url("../img/icons/icon-up-dir.svg");
  display: block;
  background-repeat: no-repeat;
  height: 13px;
  width: 10px;
}
.fa-bottom {
  background-image: url("../img/icons/icon-down-dir.svg");
  display: block;
  background-repeat: no-repeat;
  height: 13px;
  width: 10px;
  margin-right: 21px;
}
/*# sourceMappingURL=style.css.map */