.logo{
  &-img{
    background-image: url("../img/icons/nerds-logo.svg");
    display: block;
    height: 65px;
    background-repeat: no-repeat;
  }
}

.fa{
  &-shopping-cart{
    background-image: url("../img/icons/cart-icon.svg");
    display: block;
    background-repeat: no-repeat;
    height: 10px;
  }
}